snippet abs
	abs(${1})
snippet max
	max(${1}, ${2})
snippet ceil
	ceil(${1})
snippet floor
	floor(${1})
snippet log
	log(${1}, ${2})
snippet min
	min(${1}, ${2})
snippet parseint
	parseint("${1}", ${2})
snippet pow
	pow(${1}, ${2})
snippet signum
	signum(${1})
